@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --dark-green: #022831;
  --light-green: #B2C75C;
  --blue: #08A2C8;
  --light-blue: #C4F2FD;
  --bg-white: #F5F5F5;
}